.movie-item {
  display: flex;
  flex-direction: column;
}

.movie-item img {
  width: 50%;
  height: 50%;
  align-self: center;
}

.movie-title h2 {
  text-align: center;
  font-size: 1.3em;
  margin: 5px;
}

.genre {
  margin: 5px;
  align-self: center;
}

.movie-heading {
  display: flex;
  justify-content: space-between;
}
